version: 2
updates:
  - package-ecosystem: gomod
    directory: ./
    schedule:
      interval: monthly
    groups:
      dependencies:
        patterns:
          - "*"
  - package-ecosystem: npm
    directory: ./packages/payload-helper
    schedule:
      interval: monthly
    groups:
      payload:
        patterns:
          - "@ainsleydev/payload-helper"
          - "^@payloadcms/.*"
          - "^payload$"
      core:
        patterns:
          - "next"
          - "react"
          - "react-dom"
          - "graphql"
          - "sharp"
          - "cross-env"
          - "dotenv"
      dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "@payloadcms/*"
          - "payload"
          - "@ainsleydev/payload-helper"
          - "next"
          - "react"
          - "react-dom"
          - "graphql"
          - "sharp"
          - "cross-env"
          - "dotenv"
  - package-ecosystem: "github-actions"
    directory: .github/workflows
    schedule:
      interval: monthly
    groups:
      workflows:
        patterns:
          - "*"
