# Editor/OS
**/.DS_Store
**/.cache
**/.idea
**/.vscode

# Common Ignores
**/.tmp
**/.git/**
**/.hg/**
**/.pnp.*
**/.svn
**/.pnpm/**
**/build/**
**/dist/**
**/node_modules/**
**/temp/**
**/docs/**
**/*.html

# Ignore files for PNPM, NPM and YARN
**/pnpm-lock.yaml
**/package-lock.json
**/yarn.lock

# Sensitive
**/.env
**/.env.*
!**/.env.example

# Go
**/*.go
**/*.gohtml
**/*.tmpl
