<!-- =====================
    Image
    ===================== -->
{{ if .IsSource -}}
	<source srcset="{{ .URL }}"
		{{ with .MimeType -}} type="{{ . }}" {{- end }}
		{{ with .Media -}} media="{{ . }}" {{ end }}
		{{ with .Width -}} width="{{ . }}" {{- end }}
		{{ with .Height -}} height="{{ . }}" {{- end }}
		{{ range $key, $value := .Attributes -}} {{ $key | safeAttr }}="{{ $value }}" {{ end -}}
	/>
{{ else -}}
	<img src="{{ .URL }}"
		{{ with .Alt -}} alt="{{ . }}" {{- end }}
		{{ with .Loading }} loading="{{ . }}" {{- end }}
		{{ with .Width -}} width="{{ . }}" {{- end }}
		{{ with .Height -}} height="{{ . }}" {{- end }}
		{{ range $key, $value := .Attributes -}} {{ $key | safeAttr }}="{{ $value }}" {{ end }}
	/>
{{- end }}

