<!-- =====================
    Picture
    ===================== -->
<picture>



</picture>
{{/*{{ range .Sizes.SortByWidth -}}*/}}
{{/*	<source srcset="{{ .URL }}"*/}}
{{/*		{{- if and (ne .Size "avif") (ne .Size "webp") }} media="{{ .MediaAttr }}" {{- end }}*/}}
{{/*		{{ with .MimeType }} type="{{ . }}" {{- end }}*/}}
{{/*		{{ with .Width -}} width="{{ .}}" {{- end }}*/}}
{{/*		{{ with .Height -}} height="{{ .}}" {{- end }}*/}}
{{/*		{{ with .Size -}} data-payload-size="{{ . }}" {{- end }}*/}}
{{/*	/>*/}}
{{/*{{ end }}*/}}
{{/*{{ if .URL -}}*/}}
{{/*	<img src="{{ .URL }}" {{ with (index .Extra "alt") -}} alt="{{ . }}" {{- end }}>*/}}
{{/*{{ end }}*/}}
