<!-- =====================
    Form - TODO
    ===================== -->
<form class="form">

	{{ range .Fields -}}

		<fieldset class="form__fieldset">
			{{ with .Label -}}
				<label class="form__label" for="{{ . }}">{{ . }}</label>
			{{ end }}
			{{ if eq .Type "textarea" -}}
				<textarea class="form__textarea" id="{{ .Name }}" name="{{ .Name }}" rows="4">{{ .Value }}</textarea>
			{{ else -}}
				<input class="form__input" id="{{ .Name }}" name="{{ .Name }}" type="{{ .Type }}" value="{{ .Value }}">
			{{ end }}
		</fieldset>

	{{- end }}
</form>
