package alert

type Props struct {
    Text string
    Icon string // Could be something else? Like a templ.components
    Dismiss bool
    Style Style 
}

type Style string

const (
    StyleDanger Style = "Danger"
)

templ Render(props Props) {

}
