{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"tabWidth": 4,
	"semi": false,
	"plugins": ["prettier-plugin-svelte"], // This will fail if svelte isnt installed.
	"overrides": [
		{
			"files": ["*.yml", "*.yaml"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		},
		{
			"files": ["*.yml", "*.yaml"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
