import { fileURLToPath } from 'url'

import config, { payloadConfig, svelteConfig } from '@ainsleydev/eslint-config'
import { includeIgnoreFile } from '@eslint/compat'
import { defineConfig } from 'eslint/config'

const gitignorePath = fileURLToPath(new URL('.gitignore', import.meta.url))

export default defineConfig([
	includeIgnoreFile(gitignorePath, 'Imported .gitignore patterns'),
	config,
	svelteConfig,
	payloadConfig,
])
