bucket 						= "{{ .Bucket }}"
key                         = "{{ .Key }}"
region                      = "eu-central-003"
skip_credentials_validation = true
skip_region_validation      = true
skip_requesting_account_id  = true
use_path_style              = true
endpoint                    = "https://s3.eu-central-003.backblazeb2.com"
access_key                  = "{{ .AccessKey }}"
secret_key                  = "{{ .SecretKey }}"
