- name: Install Docker
  apt:
    name: docker.io
    state: present
    update_cache: yes

- name: Install Docker Python SDK
  apt:
    name: python3-docker
    state: present

- name: Ensure Docker is started and enabled
  service:
    name: docker
    state: started
    enabled: yes

- name: Add default user to Docker group
  user:
    name: '{{ ansible_user }}'
    groups: docker
    append: yes
