package scratch

import (
	"fmt"

	"github.com/ainsleydev/webkit/pkg/adapters/payload/payloadforms"
)

templ PayloadFormFields(fields []payloadforms.FormField) {
	for _, field := range fields {
		<fieldset
			if field.Width != nil {
				width={ fmt.Sprintf("%d%%", *field.Width) }
			}
		>
			if field.Label != nil && *field.Label != "" {
				<label for={ field.Name }>{ *field.Label }</label>
			}
			switch field.BlockType {
				case FormBlockTypeCheckbox:
					<input type="checkbox" name={ field.Name }/>
				case FormBlockTypeCountry:
				case FormBlockTypeEmail:
				case FormBlockTypeMessage:
				case FormBlockTypeNumber:
				case FormBlockTypeSelect:
					SelectField(field)
				case FormBlockTypeState:
				case FormBlockTypeText:
				case FormBlockTypeTextarea:
			}
		</fieldset>
	}
}
